.card_emi{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    .card_emi:hover{
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        
    }
    .container_emi{
        padding: 2px 16px;
    }
    .img_emi{
        width: 200px;
    }
}